{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
		<script type="text/javascript">var active_page = "page";</script>
		<script type="text/javascript">
			var configRoot="{{ config.root }}";
			var inMod = {% if mod %}true{% else %}false{% endif %};
			var modRoot="{{ config.root }}"+(inMod ? "mod.php?/" : "");
			var max_images={{ config.max_images }};
			{% raw %}
			var styles = {
				{% endraw %}
				{% for name, uri in config.stylesheets %}{% raw %}'{% endraw %}{{ name|addslashes }}{% raw %}' : '{% endraw %}/stylesheets/{{ uri|addslashes }}{% raw %}',
				{% endraw %}{% endfor %}{% raw %}
			};
			{% endraw %}
		</script>
	<title>{{ settings.title }}</title>
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
	{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}">{% endif %}
	{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
	<script type="text/javascript" src="/main.js"></script>
</head>
<body class="9san {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' and not mod %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %} active-page">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	
	<div class="ban">
		{% if news|count == 0 %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>
	
	<hr/>
	{{ boardlist.bottom }}
        {% include 'footer.html' %}
</body>
</html>
{% endfilter %}
