<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<title>9san</title>
		<link rel="stylesheet" media="screen" href="/stylesheets/frontpage.css">
		<script>var board_name="frontpage";</script>
	</head>

	<span class="frontpage">
		<div id="main">

			<header id="main2" style="background:url('/static/logo/9logo.png') no-repeat #D6DAF0;background-size: 200px;background-position-y: -50px;background-position-x: -20px;">

				<div class="col col-3 header_logo" style="width: 100px;height: 100px;user-select: none;">
					<span style="width: 200px;height: auto;margin-top: -50px;left: 50px;position: absolute;" id="logo"/>
				</div>

				<div class="col col-9 header_text">
					<em>{% trans %}Welcome to 9channel, the safe-for-work sanctuary free from coomers and terrorists.{% endtrans %}</em>
					<br>
					<br>
					<!-- <strong>{% trans %}Top 25 boards:{% endtrans %}</strong>
					<span class="sub" data-description="1"></span>
					<br>
					<strong>
						{% trans %}Boards of the week:{% endtrans %}&nbsp;[&nbsp;
						{% for board in config.boards_of_the_week %}
							<a href="/{{ board }}">{% if not loop.first %}&nbsp;{% endif %}{{ board }}</a>{% if not loop.last %} /{% endif %}
						{% endfor %}
						&nbsp;]
					</strong> -->
				</div>
			</header>

			<div class="mobileDisplay">
				<a href="create.php" class="button-fp">{% trans %}Create&nbsp;your&nbsp;board{% endtrans %}</a>
				<a href="boards" class="button-fp">{% trans %}Browse&nbsp;existing&nbsp;boards{% endtrans %}</a>
			</div>

	<div class="col col-12 footer top"><section class="description box col col-12">
		<h2 class="box-title">What is 9channel?</h2>
		<p class="box-content">9channel is a simple image-based bulletin board where anyone can post comments and share images. There are boards dedicated to a variety of topics. You can even create your own board with your chosen topics. Users do not need to register an account before participating in the community.</p>
		<p class="box-content">Be sure to familiarize yourself with the <a href="/rules">Rules</a> before posting, and read the <a href="/faq">FAQ</a> if you wish to learn more about how to use the site.</p>
	</section></div>		

	<div class="col col-12 footer">
	
	{% include '8chan/boards-search.html' %}
	

	</div>
	</div>
</span>
</html>
