<style>img{max-width:100%}</style>
<div class="ban">
<h2>Donate</h2>
<p><b>As of per now 9channel does not rely on or need donations.</b><br></p>
<p>Our current costs are (for the most part):
	<ul>
		<li>Domain: 14.98 USD / Year</li>
		<li>Hosting: 4.99 USD / Month</li>
		<li>Backups: 1.50 USD / Month</li>
		<li><b>Total: 92.86 USD / Year</b></li>
	</ul>
<p>This may increase rapidly in the future as growth increases.</p>
<p>If you're feeling extra generous preferably donate to a trusted charity, but if you want to encourage development to the fork,the website or just want to help me personally, you may donate BTC.<br>
BTC: <b>1MEsgyq71xZfCUgWRBiGvXG8y5vSg9cAPy</b></p>
</div>