<style>img{max-width:100%}</style>
<div class="ban top"><h2>Frequently Asked Questions</h2>
<ol>
	<li> <a href="#what-is-9channel">What is 9channel?</a></li>
	<li> <a href="#what-is-an-imageboard">What is an imageboard?</a></li>
	<li> <a href="#how-do-i-create-a-new-thread">How do I create a new thread?</a></li>  
	<li> <a href="#how-do-i-reply-to-a-thread">How do I reply to a thread?</a></li>  
	<li> <a href="#how-do-i-reply-to-another-poster">How do I reply to another poster?</a></li>  
	<li> <a href="#are-there-any-global-rules-regarding-content">Are there any global rules regarding content?</a></li>
	<li> <a href="#how-do-i-format-my-text">How do I format my text?</a></li>
	<li> <a href="#what-is-sage">What is sage?</a></li>
	<li> <a href="#what-is-a-tripcode">What is a tripcode?</a></li>
	<li> <a href="#what-is-the-best-way-to-contact-the-9channel-administration">What is the best way to contact the 9channel administration?</a></li>
	<li> <a href="#i-created-a-board-how-do-i-manage-it">I created a board, how do I manage it?</a></li>
	<li> <a href="#how-do-i-add-more-volunteers">How do I add more volunteers?</a></li>
	<li> <a href="#how-do-i-post-as-a-volunteer-on-my-board">How do I post as a volunteer on my board?</a></li>
	<li> <a href="#i-lost-ownership-of-my-board-what-happened">I lost ownership of my board, what happened?</a></li>
	<li> <a href="#help-the-owner-of-a-board-is-doing-something-i-dont-like-remove-them">Help! The owner of a board is doing something I don't like! Remove him!</a></li>
</ol>
</div>
<div class="ban faq">
	<a id="what-is-9channel"></a><h2>What is 9channel?</h2>
		<p>
			9san.ch is a website running on <a href="https://github.com/9san/OpenIB-Reloaded" target="_blank">OpenIB Reloaded</a> 
			as a result of the development for Infinity and OpenIB being permanently dead as the repository owners are no longer active and 8chan going closed source (with their embarassingly ugly design).<br>
			The fork was written by and for 9channel, but is released Open Source under a modified MIT license which can be found <a href="/LICENSE.md" target="_blank">here</a>.
		</p><p>
			<a target="_blank" href="https://github.com/9san/OpenIB-Reloaded">OpenIB Reloaded</a> is an improved and actively developed version of 
			<a target="_blank" href="https://github.com/OpenIB/OpenIB">OpenIB</a> 
			which is a security fork based on <a target="_blank" href="https://github.com/ctrlcctrlv/infinity">Infinity</a> which is a public board creation fork based on 
			<a target="_blank" href="https://github.com/vichan-devel/vichan">vichan</a> which is an old, but maintained fork of 
			<a target="_blank" href="https://github.com/ctrlcctrlv/infinity">Tinyboard</a> which was a once upon a time cutting edge imageboard software in terms of performance, but now outdated and defunct.
		</p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>

<div class="ban faq">
	<a id="what-is-an-imageboard"></a><h2>What is an imageboard?</h2>
		<p>
		An imageboard lets you post text and images anonymously (without a name) about any topic - or no topic at all. Unlike forums, imageboards do not hold or store old content permanently and old threads are pruned as new ones are created.
		</p><p>
		The imageboard format has several advantages over traditional forums:
		</p>
		<ul>
			<li>There is no registration process, which allows anyone to post what they like without having to jump through hoops;</li>
			<li>Users are not required to have names and, thus, feel no reason to build up an identity or reputation for themselves - posts are judged based on their content rather than who made them;</li>
			<li>Sharing images and multimedia content is as easy as saving and uploading it to the site.</li>
		</ul>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-create-a-new-thread"></a><h2>How do I create a new thread?</h2>
		<p>
		Navigate to the board you would like to post on and click on <i>Post a New Thread</i> below the banner image, fill out the post form, and click on <i>Submit</i>. On most boards, you are required to upload an image, but, if you do not have one, you can also draw a picture by using the oekaki applet (<i>[Show post options & limits]</i> > <i>Show oekaki applet</i>). No board requires you to provide a name, and some may not even let you.
		</p>
		<p><img src='/static/faq/new-thread.webp'></p>
		<p>By clicking on <i>[Show post options & limits]</i>, you can also choose a flag (if available on the board where you want to post), embed video links, choose not to bump, and spoiler images.</p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-reply-to-a-thread"></a><h2>How do I reply to a thread?</h2>
		<p>
		On 9channel, threads are ordered from newest (top) to oldest (bottom), while replies are ordered from oldest (top) to newest (bottom).  
		To reply to a thread, click on <i>[Reply]</i> on any thread on a board's index page or, from a board's catalog, click on any thread tile.
		</p><p><img src='/static/faq/new-reply.webp'></p>
		<p>Enter your reply in the <i>Comment</i> field. Once it is posted, your reply will be highlighted in the thread.</p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-reply-to-another-poster"></a><h2>How do I reply to another poster?</h2>
		<p>Click on the number of the post you wish to reply to. A Quick Reply box will pop up automatically, prepopulated with the post number you are replying to. Enter your reply under the post number and click on <i>Reply</i>. When someone replies to you, you will see <i>(You)</i> after the post number as a hint.</p>
		<p><center><img src='/static/faq/reply.webp'></center></p>
		<p>If you wish to delete a post you made or an image you posted, you can do so by clicking on the triangle on the left side of your post. Board owners may disable self-deletion, so it might not always be an option.</p>
		<p>You can also report, hide, or filter other posts by clicking on the triangle.</p>
		<p><center><img src='/static/faq/delete-report.webp'></center></p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="are-there-any-global-rules-regarding-content"></a><h2>Are there any global rules regarding content?</h2>
		<p>Yes. The global rules and etiquette can be found <a href="/rules" target="_blank">here</a>.</p>
		<p>The global rules MUST be followed. Board owners are not allowed to make rules circumventing the global rules.<br>
		The etiquette however is a set of loosely moderated rules that are unlikely to get you any warning or long term bans, but please try to follow them to your best ability for the health of the community.</p>
		<p>Other than that, you are free to make whatever rules you want on your board.</p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-format-my-text"></a><h2>How do I format my text?</h2>
		<ul>
			<li>**spoiler** or [spoiler]spoiler[/spoiler] for <span class="spoiler">spoiler</span></li>
			<li>''italics'' for <em>italics</em></li>
			<li>'''bold''' for <strong>bold</strong></li>
			<li>__underline__ for <u>underline</u></li>
			<li>==HEADING== for <span class="heading">HEADING</span> (must be on the same line)</li>
			<li>~~strikethrough~~ for <s>strikethrough</s></li>
			<li>[aa]ASCII/JIS art[/aa] <span class="aa" style="display:inline!important">(escape formatting)</span></li>
			<li>[code]code=true;[/code], if enabled by board owner</li>
			<li>&gt;quote for <span class="quote">&gt;quotes</span></li>
			<li>&lt;quote for <span class="rquote">&lt;pink quotes</span></li>
		</ul>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="what-is-sage"></a><h2>What is <i>sage</i>?</h2>
		<p>Posters may reply to threads without bumping them to the top of the index or the catalog by entering <i>sage</i> in the email field or checking the <i>Do not bump</i> box in the reply window (<i>Show post options & limits</i> > <i>Options</i> > <i>Do not bump</i>). </p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="what-is-a-tripcode"></a><h2>What is a tripcode?</h2>
		<p>Most posts on 9channel are made anonymously, but this is not the only way to post. The <i>Name</i> field can be used to establish identity as follows: </p>
		<ol>
			<li>By simply entering a name in the <i>Name</i> field. This is not secure, since any other poster is able to use the same name;</li>
			<li>By entering one # character and a password in the <i>Name</i> field. Adding #example to the <i>Name</i> field would generate !KtW6XcghiY. This is reasonably secure - however, with increasing GPU speeds, these tripcodes may be cracked in a few days by a dedicated attacker;</li>
			<li>By entering two # characters and a password in the <i>Name</i> field. Adding ##example to the <i>Name</i> field would generate !!Dz.MSNRw9M. This is quite secure, but it relies on a secret salt on the server. This means the code will not work on websites other than 9channel;</li>
			<li>Board owners and volunteers may capcode by entering <i>## Board Owner</i> or <i>## Board Volunteer</i> in the <i>Name</i> field, depending on their respective positions.</li>
		</ol>
		<p>Please note: on 9channel, <b>board owners</b> may disable the <i>Name</i> field by clicking on <i>Settings</i> and checking the <i>Forced anonymous</i> box. Additionally, <b>users</b> are able to anonymize all posts on any 9channel board by clicking on <i>[Options]</i> (top-right corner) and checking the <i>Forced anonymity</i> box under <i>General</i>. This is because many users (including board owners) <b>do not like</b> people using tripcodes if there is no proper reason for it.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="what-is-the-best-way-to-contact-the-9channel-administration"></a><h2>What is the best way to contact the 9channel administration?</h2>
		<p>You may reach the 9channel Administrator by contacting our email which can be found by <a href="#" id="alert_faqcontact">opening this alert window</a>.</p> 
		<p>Alternatively, you can go to <a href="/meta/">/meta/</a>. and create a thread to discuss request features, make suggestions and speak with the 9channel Administrator. 
		If you have a bug to report, you can do so on our bug tracker on <a href="https://github.com/9san/OpenIB-Reloaded/issues" target="_blank">GitHub</a> or on <a href="/bugs/">/bugs/</a>. If you are not sure if it's a bug it would be preferable to post it on the /bugs/ board and we will add it to the bug tracker ourselves if it's a correct bug report.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="i-created-a-board-how-do-i-manage-it"></a><h2>I created a board. How do I manage it?</h2>
		<p>Click on the gear icon <i class="fa fa-cog" title="Manage board"></i> in the top bar or the <a href="/mod.php" target="_blank"><i>manage board</i></a> link on 9channel's <a href="/" target="_blank">front page</a> to reach the <a target="_blank" href="/mod.php?/">login or dashboard page</a>.<br><br>
		There, you have access to the noticeboard (messages from the 9channel administration), your personal inbox, the report queue, the board-specific ban list, the ban appeals (if any) for the board owner and / or volunteers, a page where you can edit your profile, and the recent board-specific posts.

	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-add-more-volunteers"></a><h2>How do I add more volunteers?</h2>
		<p>If you are a board owner, go to your board settings and click on <i>Edit board volunteers</i>. Then, add a username and a password for the volunteer you wish to create.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="how-do-i-post-as-a-volunteer-on-my-board"></a><h2>How do I post as a board owner or volunteer on my board?</h2>
		<p>Make sure you are using the board owner or volunteer interface to view your board. The URL of your browser should be <b>https://9san.ch/mod.php?/&lt;yourboard&gt;</b>.</p>
		<p>If you are the owner of the board, enter <i>## Board Owner</i> in the <i>Name</i> field.</p> 
		<p>If you are a volunteer on the board, enter <i>## Board Volunteer</i> in the <i>Name</i> field. Create your post and click on <i>Reply</i>. It will appear with your capcode.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="i-lost-ownership-of-my-board-what-happened"></a><h2>I lost ownership of my board. What happened?</h2>
		<p>You may lose access to your board if you fail to log in for two weeks. Furthermore, you may lose access to your board if it is reassigned as a result of noncompliance with one of the conditions for board reassignment.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<div class="ban faq">
	<a id="help-the-owner-of-a-board-is-doing-something-i-dont-like-remove-them"></a><h2>Help! The owner of a board is doing something I don't like! Remove him!</h2>
		<p><b>If the board owner is not doing anything illegal, the 9channel administration cannot and will not help you.</b> The 9channel administration does not dictate how board owners or volunteers should manage their boards.</p>
		<p>However, a few conditions must be met:</p>
		<ol>
			<li> The board owner must not blatantly disregard the global rules;</li>
			<li> The board owner must not state in his or her board's rules that the 9channel global rule does not apply;</li> 
			<li> The board owner must not blanket-ban large swaths of IP ranges;</li>
			<li> The board owner must not make it impossible to post on his or her board, either by locking all or most threads and / or deleting all or most threads or posts;</li>  
			<li> The board owner must not implement CSS that makes it impossible to post;</li>
			<li> The board owner must not squat in a board for the purpose of redirecting users from 9channel to a different website. <b>Please note:</b> creating a bunker in case of primary-website malfunction / downtime is fine, provided all of the above are complied with.</li>
		</ol>
		<p>If the board owner fails to comply with <b>any</b> of the above, you may report the board to the 9channel Administration on <a target="_blank" href="/meta/">/meta/</a>. The board will then be eligible for reassignment, at the discretion of the 9channel administration.</p>
		<p>For a list of boards that are available for claim, <a target="_blank" href="/claim">click here</a>.</p>
	
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>


<p style="text-align: center;margin-top: 35px;"><i>This FAQ was last updated on March 5, 2020.</i></p>

</div>