<style>img{max-width:100%}</style>
<div class="ban top"><h2>News</h2>
<ol reversed>
	<li> <a href="#v1">Version 1.0b Public Release!</a></li>
	<li> <a href="#9channel">9channel</a></li>
</ol>
</div>


<div class="ban">
	<a id="v1"></a><h2>Version 1.0b Public Release!<span class="unimportant">- <time unixtime="1583661175" datetime="2020-03-08T09:52:55Z" data-local="true">03/08/20 (Sun) 09:52:55</time></span></h2>
		<p><b>Proudly presenting...</b> the official 1.0 open beta release of <a target="_blank" href="https://github.com/9san/OpenIB-Reloaded">OpenIB Reloaded</a>!</p>
		<p style="margin: auto;width: 85%;">
		<img style="max-height:585px;" src="/static/cirno/v1/full_bananaxxx.jpg"></p>
		<p>(I'm preparing for upload).</p>
		
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>

<div class="ban">
	<a id="9channel"></a><h2>9channel <span class="unimportant">- <time unixtime="1580387400" datetime="2020-01-30T12:30:00Z" data-local="true">01/30/20 (Wed) 12:30:00</time></span></h2>
		<p><b>And so it begins...</b></p>
		<p style="margin: auto;width: 85%;"><img style="max-height:585px;" src="/static/cirno/Cirno.600.jpg"></p>
		<p>P.S Code is still being heavily reworked.</p>
	<p class="unimportant right" style="margin-top: -10px;"><span class="unimportant">[</span><a href="#top">Back to Top</a><span class="unimportant">]</span></p>
</div>