<style>
	ol{margin:0;padding:0;counter-reset:ordered-list;margin-left:30px;margin-right:15px;}
	li::marker{font-weight:bold}
	img{max-width:100%}
</style>

<div class="ban top">
<h2>Global Rules <span class="unimportant">- Last updated: <time unixtime="1583435454" datetime="2020-03-05T19:10:54Z" data-local="true">03/05/20 (Wed) 19:10:54</time></span></h2>
<br>
	<ol id="global-rules">
		<li>Do not post anything that's illegal in the United States (<a href="https://www.hostwinds.com/7694-5.html" class="nopadding" title="Yes, This is an affiliate link. Coupon&nbsp;'9channel' for 50% off first month." target="_blank">Host Company</a>) or the Netherlands (Server location).</li>
		<li>Do not post gore, shock media, hardcore pornography, nudity etc. This is a safe-for-work imageboard.<br>
			- No sexualized 2D/3D/CGI children.</li>
		<li>Do not threaten or encourage physical harm. This includes pro-terror content, e.g., admiration of mass-killings.</li>
		<li>Do not post pro-pedophilia content. This includes, but is not limited to: suspicion of sexualization of otherwise innocent pictures; encouraging child abuse; encouraging consumption of content depicting child abuse.</li>
		<li>Do not attempt to advertise your own website, business, community or similar.<br>
			- Exceptions for high effort content may be permitted.</li>
		<li>Do not organize or encourage raids or other disruptive posting on other websites or boards.</li>
		<li>Do not post personal information about yourself or others (Dox).</li>
		<li>Staff impersonation is strictly forbidden.</li>
		<li>Board rules can not circumvent global rules. The etiquette may be dismissed by individual board owners.
	</ol>
<br>
</div>

<div class="ban">
<h2>Etiquette</h2>
<br>
	<ol id="etiquette">
		<li>This website is an anonymous community. Please refrain from using any identifiers.</li>
		<li>Stick to the subject and don't derail threads with offtopic posts or infighting.</li>
		<li>Do not spam a thread, pretend to be more than one user, or make a lot of posts in succession.</li>
		<li>Bumping threads on first page is completely unnecessary.</li>
		<li>Keep low effort content to a minimum (LOL XD, bump, etc).</li>
		<li>Use the post features. If you refer to an image or video, make sure to embed it in your posts for other users. Upload a screenshot to preview a link. When replying, quote the comment(s) you're replying to by clicking the post number.</li>
	</ol>
<br>
</div>