<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<script type="text/javascript">
	{% if not ukko %}
		var active_page = "index";
	{% endif %}
	{% if ukko %}
		var active_page = "ukko";
	{% endif %}
	{% if not ukko %}
		var board_name="{{ board.uri }}";
	{% else %}
		var board_name="all";
	{% endif %}
		</script>

	{% include 'header.html' %}
	<title>{{ board.url }} - {{ board.title|e }}</title>
</head>
<body class="9san {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-{% if not ukko %}index{% else %}ukko{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' and not mod %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	{{ boardlist.top }}
	
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	
	{% include 'banner.html' %}
	
	<header>
		<h1>{{ board.url }} - {{ board.title|e }}</h1>
		<div class="subtitle">
			{% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle|e }}
				{% endif %}
			{% endif %}
			{% if mod and post.mod|hasPermission(config.mod.edit_settings, board.uri) %}<p><a href="?/settings/{{ board.uri|url_encode }}">{% trans %}Board Settings{% endtrans %}</a></p>{% endif %}
			{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>

	{% include 'attention_bar.html' %}

	{% if config.announcement %}
		<hr/><div class="blotter">{{ config.announcement }}</div>{% if not ukko %}<hr/>{% endif %}
	{% endif %}

	{% include 'ad_top.html' %}

	{% if not ukko %}
			{% if config.hide_postform %}
				<style>#post-form-outer{display:none}</style>
				<div id="showpostform">[<a href="#" id="showpostform">Post a New Thread</a>]</div>
			{% endif %}
		{% include 'post_form.html' %}
	{% else %}
		{% include 'boardlist.html' %}
	{% endif %}
	
	{% include 'announcements_blotter.html' %}
	
	{% if config.global_message %}<hr/><div class="blotter">{{ config.global_message }}</div>{% endif %}
	
	{% if not ukko %}
	<hr/>
	<form id="search-board" autocomplete="off" style="margin-bottom:-8px;margin-top:-8px;" action="/search.php" method="get">
		<p>	{% if board and board.indexed %}<input id="search" name="search" type="text" value="" placeholder="Search /{{ board.uri }}/" size="15" style="height: 15px;padding: 1px 0px 0px 3px;line-height: 16px;margin-bottom: 0px;width: 120px">
				<input type="hidden" name="board" value="{{ board.uri }}">
				<input style="display:none;" type="submit" value="Search"> 
				{% endif %}<span style="vertical-align: middle;">[<a id="thread-catalog" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">{% trans %}Catalog{% endtrans %}</a>]</span>
		</p>
	</form>
	{% endif %}
	{% if config.page_nav_top %}
		<div class="pages top">
			{% for page in pages %}
			 [<a {% if page.selected %}class="selected"{% endif %}{% if not page.selected %}href="{{ page.link }}"{% endif %}>{{ page.num }}</a>]{% if loop.last %} {% endif %}
			{% endfor %}
			{{ btn.next }}
		</div>
	{% endif %}
	
	<hr/>
	
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
	{{ body }}
	{% include 'report_delete.html' %}
	</form>
	
	<div class="pages">
		{{ btn.prev }} {% for page in pages %}
		 [<a {% if page.selected %}class="selected" {% endif %}href="{{ page.link }}">{{ page.num }}</a>]{% if loop.last %} {% endif %}
		{% endfor %} {{ btn.next }}
		{% if config.catalog_link %}
			 | <a href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">Catalog</a>
		{% endif %}
	</div>
	
	{{ boardlist.bottom }}

	{% if board.uri not in config.banned_ad_boards %}
		{% include 'ad_bottom.html' %}
	{% endif %}

	{% include 'footer.html' %}

	<script type="text/javascript">{% raw %}
		onready(init); ready();
	{% endraw %}</script>
	<a id="bottom"></a>
</body>
</html>
