<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript">
		active_page = "page";
	</script>
	{% include 'header.html' %}
	{% if mod %}{% include 'mod/header.html' %}{% endif %}
	<title>{{ title }}</title>
</head>
<body class="9san {% if frontpage %}frontpage {% endif %}{% if mod %}is-moderator{% else %}is-not-moderator{% endif %} stylesheet-{% if config.default_stylesheet.1 != '' and not mod %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %} active-page">
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<header>
		{% if config.site_logo %}
		<figure id="logo">
			<a id="logo-link" href="/" title="Return to the front page">
				<img id="logo-img" src="{{config.site_logo}}" alt="{{config.site_nane}}" />
			</a>
		</figure>
		{% endif %}
		
		{% if title %}<h1>{{ title }}</h1>{% endif %}
		<div class="subtitle">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
			{% if mod and not hide_dashboard_link %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>
		{{ body }}
	<hr>
	{{ boardlist.bottom }}
	{% include 'footer.html' %}
</body>
</html>
