<!doctype html>
<html>
<head>
	<meta charset="utf-8">

        <script type="text/javascript">
		var active_page = "thread";
		var board_name="{{ board.uri }}";
	</script>

	{% include 'header.html' %}

	{% set meta_subject %}{% if config.thread_subject_in_title and thread.subject %}{{ thread.subject|e }}{% else %}{{ thread.body_nomarkup[:256]|remove_modifiers|e }}{% endif %}{% endset %}

	<meta name="description" content="9san /{{ board.uri }}/ - {{ board.title|e }} - {{ meta_subject }}" />
	<meta name="twitter:card" value="summary">
	<meta property="og:title" content="{{ meta_subject }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://9san.ch/{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}" />
	{% if thread.files.0.thumb %}<meta property="og:image" content="https://9san.ch/{{ board.uri }}/{{ config.dir.thumb }}{{ thread.files.0.thumb }}" />{% endif %}
	<meta property="og:description" content="{{ thread.body_nomarkup|e }}" />

	<title>{{ board.url }} - {{ meta_subject }}</title>
</head>
<body class="9san {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-thread" data-stylesheet="{% if config.default_stylesheet.1 != '' and not mod %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% include 'banner.html' %}
	<header>
		<h1>{{ board.url }} - {{ board.title|e }}</h1>
		<div class="subtitle">
			{% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle|e }}
				{% endif %}
			{% endif %}
			{% if mod and post.mod|hasPermission(config.mod.edit_settings, board.uri) %}<p><a href="?/settings/{{ board.uri|url_encode }}">{% trans %}Board Settings{% endtrans %}</a></p>{% endif %}
			{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>

	{% include 'attention_bar.html' %}

	{% if config.announcement %}
		<hr/><div class="blotter">{{ config.announcement }}</div><hr/>
	{% endif %}

	<div class="banner">{% trans %}Posting mode: Reply{% endtrans %} <a href="{{ return }}">[{% trans %}Return{% endtrans %}]</a> <a href="{% if mod %}?{% endif %}{{ config.root }}{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}#bottom">[{% trans %}Go to bottom {% endtrans %}]</a> <a href="{% if mod %}?{% endif %}{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">[{% trans %}Catalog{% endtrans %}]</a></div>

	{% include 'ad_top.html' %}
	{% if config.hide_postform %}
		<style>#post-form-outer{display:none}</style>
		<div id="showpostform">[<a href="#" id="showpostform">Post a Reply</a>]</div>
	{% endif %}
	{% include 'post_form.html' %}
	{% include 'announcements_blotter.html' %}
	{% if config.global_message %}<hr /><div class="blotter">{{ config.global_message }}</div>{% endif %}
		<hr />
	<div id="thread-interactions">
			<span id="thread-links-top">
				[<a id="thread-return" href="{{ return }}">{% trans %}Return{% endtrans %}</a>]<span class="margin-right"></span>
				[<a id="thread-bottom" href="#bottom">{% trans %}Bottom{% endtrans %}</a>]<span class="margin-right"></span>
				[<a id="thread-catalog" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">{% trans %}Catalog{% endtrans %}</a>]<span class="margin-right"></span>
			</span>
	<hr />
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
		<input type="hidden" name="board" value="{{ board.uri }}" />
		{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
		
		{{ body }}
		
		<div id="thread-interactions">
			<span id="thread-links">
				[<a id="thread-return" href="{{ return }}">{% trans %}Return{% endtrans %}</a>]<span class="margin-right"></span>
				[<a id="thread-top" href="#top">{% trans %}Top{% endtrans %}</a>]<span class="margin-right"></span>
				[<a id="thread-catalog" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">{% trans %}Catalog{% endtrans %}</a>]<span class="margin-right"></span>
			</span>
			
			<span id="thread-quick-reply">
				[<a id="link-quick-reply" href="#">{% trans %}Post a Reply{% endtrans %}</a>]
			</span>
			
			{% include 'report_delete.html' %}
		</div>
		<div class="clearfix"></div>
		<hr>
	</form>
	
	{{ boardlist.bottom }}

	{% if board.uri not in config.banned_ad_boards %}
		{% include 'ad_bottom.html' %}
	{% endif %}

	
	{% include 'footer.html' %}

	<script type="text/javascript">{% raw %}
		onready(init); ready();
	{% endraw %}</script>
	<a id="bottom"></a>
</body>
</html>
