	{% if post.embed %}
	{{ post.embed }}
    {% else %}
    <div class="files-multi-mobile">
    {% for file in post.files %}
        <div class="file multifile">
	{% if file.file == 'deleted' %}
		<img class="post-image deleted" src="{{ config.root }}{{ config.image_deleted }}" alt="" />
	{% else %}
		<span class="mobile-info">{% include "post/image_mobile.html" with {'post':file} %}
		<p class="fileinfo" style="width:{{ file.thumbwidth / 2 }}px"><a href="{{ config.uri_img }}{{ file.file }}">
		</a>  <span class="unimportant" {% if config.show_filename and file.filename %} data-tooltip="
		
		{% if file.filename|length > config.max_filename_display %}
					{{ file.filename|truncate_filename(config.max_filename_display)|e|bidi_cleanup }}
				{% else %}
					{{ file.filename|e|bidi_cleanup }}
				{% endif %}
		"{% endif %}>
			{{ file.size|filesize }} {{ file.extension|upper }}
		{% include "post/image_identification.html" %}
		{% include "post/file_controls.html" %}</span></p>
		</span>
	
	{% endif %}
</div>
    {% endfor %}
</div>
    {% endif %}
